@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root{
    --modal-duration: 1s;
    --primary-color: #30336b;
    --secondary-color: #be2edd;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: var(--primary-color);
    color:  White;
    font-size: 93%;
    position: relative;
    text-align: left; 
    display: flex;
    align-items: center;
    justify-content: center;
}

header img{
    width: 150px;
    border-radius: 50%;
    border: #fff 2px solid;
} 

header h1{
    margin: 0;
}

header p{
    margin: 10px 0;
}

.heder-content {
    display: flex;
}
.heder-text {
    width: 250px;
    text-align: center;
    padding: 20px;
}

.heder-objective {
    width: 517px;
    position: relative;
    top: 26px
}


.container{
    padding: 15px;
    margin: 0 auto;
    max-width: 100%;
    width: 800px;
    height: 100vh;
}

.body-container {
    padding: 9px 15px;
}
.work-title {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0 0;
}

.work-title h4{
    margin:30px 0 0 0;
}

.body-container h2{
    padding: 0;
    margin:30px 0 0 0;
}

.body-container h4 {
    padding: 0;
    font-size: 20px;
}

.body-container p{
    padding: 0;
    margin: 10px 0;
    font-size: 14px;
}

.footer{
    background-color: var(--primary-color);
    color:  White;
    font-size: 93%;
}

.footer h2{
    text-align: center;
    position: relative;
    top: 10px
}

.footer p{
padding: 0 10px;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
}

.cards {
    width: 50%;
    padding: 10px;
}

.contact{
    position: relative;
    top: 28px;
    width: 240px;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
}

